@tailwind base;
@tailwind components;
@tailwind utilities;

.cardActive {
  @apply flex;
}

.cardHidden {
  @apply hidden;
}

.active {
  @apply text-xl font-black text-primaryBlack-0 headerShadow;
}

.activeDropdown {
  @apply h-screen;
}

.activeMenu {
  @apply after:opacity-0 before:top-0 before:rotate-90 rotate-45;
}

.hoverBtn {
  @apply duration-300;
}

.headerShadow {
  filter: drop-shadow(0px 33px 39px rgba(0, 0, 0, 0.14)) drop-shadow(0px 13.7866px 16.2933px rgba(0, 0, 0, 0.10064)) drop-shadow(0px 7.37098px 8.71116px rgba(0, 0, 0, 0.083455))
    drop-shadow(0px 4.13211px 4.88341px rgba(0, 0, 0, 0.07)) drop-shadow(0px 2.19453px 2.59354px rgba(0, 0, 0, 0.056545)) drop-shadow(0px 0.913195px 1.07923px rgba(0, 0, 0, 0.0393604));
}

.btnShadowWhite {
  box-shadow: 0px 6px 27px rgba(255, 255, 255, 0.264), 0px 2.50666px 11.28px rgba(255, 255, 255, 0.135), 0px 1.34018px 6.0308px rgba(255, 255, 255, 0.0596107),
    0px 0.751293px 3.38082px rgba(255, 255, 255, 0.05), 0px 0.399006px 1.79553px rgba(255, 255, 255, 0.0403893), 0px 0.166035px 0.747159px rgba(255, 255, 255, 0.0281146);
}

.productCardShadow {
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.08), 0px 0.751293px 5.25905px rgba(0, 0, 0, 0.04);
}

.imgShadow {
  box-shadow: 0px 6px 20px rgba(1, 1, 1, 0.54), 0px 0.751293px 2.50431px rgba(1, 1, 1, 0.27);
}

.productCardBtnShadow {
  box-shadow: 0px 6px 109px rgba(0, 0, 0, 0.11), 0px 2.50666px 45.5376px rgba(0, 0, 0, 0.079074), 0px 1.34018px 24.3466px rgba(0, 0, 0, 0.0655718), 0px 0.751293px 13.6485px rgba(0, 0, 0, 0.055),
    0px 0.399006px 7.24861px rgba(0, 0, 0, 0.0444282), 0px 0.166035px 3.01631px rgba(0, 0, 0, 0.030926);
}

.inputShadow {
  box-shadow: 0px 6px 100px rgba(0, 0, 0, 0.06), 0px 2.50666px 41.7776px rgba(0, 0, 0, 0.0431313), 0px 1.34018px 22.3363px rgba(0, 0, 0, 0.0357664), 0px 0.751293px 12.5216px rgba(0, 0, 0, 0.03),
    0px 0.399006px 6.6501px rgba(0, 0, 0, 0.0242336), 0px 0.166035px 2.76726px rgba(0, 0, 0, 0.0168687);
}

.inputFilterShadow {
  box-shadow: 0px 45px 80px rgba(0, 0, 0, 0.04), 0px 13.5662px 24.1177px rgba(0, 0, 0, 0.0260636), 0px 5.6347px 10.0172px rgba(0, 0, 0, 0.02), 0px 2.03796px 3.62304px rgba(0, 0, 0, 0.0139364);
}

.btnAnimation:hover {
  filter: drop-shadow(0px 0px 71px rgba(209, 189, 118, 0.17)) drop-shadow(0px 0px 8.8903px rgba(209, 189, 118, 0.085));
}

.textShadowWhite {
  text-shadow: 0px -22px 92px rgba(255, 255, 255, 0.59), 0px -4.91399px 20.5494px rgba(255, 255, 255, 0.351703), 0px -1.46302px 6.11809px rgba(255, 255, 255, 0.238297);
}
